body {
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    background-color: #5b5b5bad;
    color:#333333;
}

body.dark {
    background-color: #212121;
    color:#f5f5f5;
}

header {
    display: flex;
    justify-content: space-between;
}


header #botton-change-theme {
    background: none;
    border:none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

header .logo:hover,
header #botton-change-theme:hover{
    transform: scale(1.1);
}

header .logo, .botton-image {
    width: 30px;
}

main {
    padding: 25px;
}

main .pokemon-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

main .pokemon-card {
    width: 200px;
    margin: 10px;
    border-radius: 10px;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

main .pokemon-card:hover {
    transform: scale(1.1);
    background-color: #96d9d6;
}

main .dark .pokemon-card:hover {
    background-color: #a8a8a8;
}

main .type-pokemon {
    display: flex;
    border-radius: 10px;
    padding: 5px;
}

main .pokemon-card .info {
    display: flex;
    flex-direction: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .pokemon-card .info span {
    font-size: 18px;
    text-transform: uppercase;
    padding: 5px;
}

main .pokemon-card .gif {
    width: 90px;
    height: 90px;
    border-radius: 10px;
}

main .pokemon-card .pokemon-types {
    display: flex;
    margin: 5px;
}

main .pokemon-card .type {
    display: flex;
    padding: 7px;
    border-radius: 10px;
    margin: 5px;
}

.water {
    background-color: #6890f0;
}

.fire {
    background-color: #f08030;
}

.grass {
    background-color: #78c850;
}

.poison {
    background-color: #a040a0;
}

.flying {
    background-color: #a890f0;
}

.bug {
    background-color: #a8b820;
}

main .description {
    font-size: 14px;
    padding-right: 10px;
    max-height: 100px;
    overflow-y: scroll;
}
